<ion-header>
  <ion-toolbar>
    <ion-title>Cantiniére</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p> Ici se trouvera l'interface de gestion de la cantiniere</p>

<div padding>
    <ion-segment [(ngModel)]="choix">
      <ion-segment-button value="Création">
        Création
      </ion-segment-button>
      <ion-segment-button value="Cagnotte">
        Cagnotte
      </ion-segment-button>
      <ion-segment-button value="Commande">
        Commande
      </ion-segment-button>
    </ion-segment>
    </div>
</ion-content>
