<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Aujourd'hui</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/Lasagnes.jpg"></ion-img>
      <ion-item>Lasagne a la bolognaise </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-segment [(ngModel)]="choix">
      <ion-segment-button value="Entree">
        Entrées
      </ion-segment-button>
      <ion-segment-button value="Plat">
        Plats
      </ion-segment-button>
      <ion-segment-button value="Dessert">
        Desserts
      </ion-segment-button>
    </ion-segment>
      <!-- </div> -->
      <div [ngSwitch]="choix">
        <ion-list *ngSwitchCase="'Plat'">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/Pot-au-feu.jpg">
            </ion-thumbnail>
            <ion-label>Pot au feu</ion-label>
              <!-- <button class='btn-plus' ion-button >Ajouter<button> -->
          </ion-item>

          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/Risotto.jpg">
            </ion-thumbnail>
            <h6>Rissotto saumon</h6>
            <!-- <ion-button class='btn-plus' ion-button >Ajouter<ion-button> -->
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Entree'">
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/Samoussa.jpg">
            </ion-thumbnail>
            <h6>Samoussa</h6>
            <!-- <ion-button class='btn-plus' ion-button >Ajouter<ion-button> -->
          </ion-item>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="assets/entree-1.jpg">
            </ion-thumbnail>
            <h6>Petite salade</h6>
            <!-- <ion-button class='btn-plus' ion-button >Ajouter<ion-button> -->
            </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="'Dessert'">
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/tartelette.jpg">
              </ion-thumbnail>
              <h6>Tartelette du jour :</h6>
              <!-- <ion-button class='btn-plus' ion-button >Ajouter<ion-button> -->
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/fruit.jpeg">
              </ion-thumbnail>
              <h6>Fruits du jour :</h6>
              <!-- <ion-button class='btn-plus' ion-button >Ajouter<ion-button> -->
              </ion-item>
          </ion-list>
        </div>
      <!-- </div> -->
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label></ion-label>
      </ion-list-header>
      <ion-item [routerLink]="['/shoppingcart']" routerLinkActive="router-link-active">
        <ion-icon slot="start" color="medium" name="basket"></ion-icon>
        <ion-label>Mon panier</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/profil']" routerLinkActive="router-link-active">
        <ion-icon slot="start" color="medium" name="contact"></ion-icon>
        <ion-label>Mon compte</ion-label>
      </ion-item>
      <ion-item href="">
        <ion-icon slot="start" color="medium" name="chatbubbles"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-item>
    </ion-list>
    <ion-card>
      <ion-item> 
        <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
        <ion-icon slot="start" color="medium" name="logo-instagram"></ion-icon>
        <ion-icon slot="start" color="medium" name="logo-twitter"></ion-icon>
        <ion-label> Suivez nous</ion-label>
      </ion-item>
    </ion-card>
</ion-content>
