<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Cantinière</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p> Bienvenue dans votre interface de gestion de la cantiniere</p>

  <ion-content padding>
    <ion-button class='btn' ion-button large [routerLink]="['/createarticle']" >CREER UN ARTICLE</ion-button>
    <ion-button class='btn' ion-button large [routerLink]="['/createmenu']">CREER UN MENU</ion-button>
    <ion-button class='btn' ion-button large [routerLink]="['/managementfund']">GESTION CAGNOTTE</ion-button>
    <ion-button class='btn' ion-button large [routerLink]="['/managementcommand']">LISTE COMMANDE</ion-button>
  </ion-content>
</ion-content>

