<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Profil</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-label>Bonjour user cotre cagnote est de : €€€ </ion-label>
  <ion-list>
   <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input type="text"></ion-input>
   </ion-item>
   <ion-item>
    <ion-label stacked>Mot de passe</ion-label>
    <ion-input type="password"></ion-input>
   </ion-item>
   <ion-item>
      <ion-label stacked>Nouveau mot de passe</ion-label>
      <ion-input type="password"></ion-input>
     </ion-item>
  </ion-list>
  <div padding>
    <ion-button class='btn' ion-button large color="secondary">MODIFIER</ion-button>
  </div>
</ion-content>
