<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
     <ion-label stacked>Email</ion-label>
     <ion-input type="text"></ion-input>
    </ion-item>
     <ion-item>
     <ion-label stacked>Mot de passe</ion-label>
     <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button class='btn' ion-button large>CONNEXION</ion-button>
  <ion-button class='btn' ion-button large [routerLink]="['/signup']" routerLinkActive="router-link-active" color="secondary"> INSCRIPTION</ion-button>
 </ion-content>
